<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{fragments/layout}">
<head>
<meta charset="utf-8"/>
<title>Home</title>
</head>
<body layout:fragment="content">
<div class="container">
	<div class="row"><h2>User List</h2></div>
	<div class="row">
		<a sec:authorize="hasRole('ADMIN')" href="/user/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr class="d-flex">
					<th class="col-1">Id</th>
					<th class="col-3">Full Name</th>
					<th class="col-3">User Name</th>
					<th class="col-3">Role</th>
					<th class="col-2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr class="d-flex" th:each="user : ${users}">
					<td class="col-1" th:text="${user.id}"></td>
					<td class="col-3" th:text="${user.fullname}"></td>
					<td class="col-3" th:text="${user.username}"></td>
					<td class="col-3" th:text="${user.role}"></td>
					<td class="col-2 text-center">
						<a sec:authorize="hasRole('ADMIN')" th:href="@{/user/update/{id}(id=${user.id})}">Edit</a>&nbsp;|&nbsp;
						<a sec:authorize="hasRole('ADMIN')" th:href="@{/user/delete/{id}(id=${user.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>