<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{fragments/layout}">
<head>
<title>Home</title>
</head>
<body layout:fragment="content">
<div class="container">
	<div class="row"><h2>Rule List</h2></div>
	<div class="row">
		<a sec:authorize="hasRole('ADMIN')" href="/ruleName/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr class="d-flex">
					<th class="col-1">Id</th>
					<th class="col-2">Name</th>
					<th class="col-2">Description</th>
					<th class="col-1">json</th>
					<th class="col-1">template</th>
					<th class="col-2">sql</th>
					<th class="col-1">sqlPart</th>
					<th class="col-2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ruleName : ${ruleNameList}" class="d-flex">
					<td th:text="${ruleName.id}" class="col-1"></td>
					<td th:text="${ruleName.name}" class="col-2"></td>
					<td th:text="${ruleName.description}" class="col-2"></td>
					<td th:text="${ruleName.json}" class="col-1"></td>
					<td th:text="${ruleName.template}" class="col-1"></td>
					<td th:text="${ruleName.sqlStr}" class="col-2"></td>
					<td th:text="${ruleName.sqlPart}" class="col-1"></td>
					<td class="text-center col-2">
						<a sec:authorize="hasRole('ADMIN')" th:href="@{/ruleName/update/{id}(id=${ruleName.id})}">Edit</a>&nbsp;|&nbsp;
						<a sec:authorize="hasRole('ADMIN')" th:href="@{/ruleName/delete/{id}(id=${ruleName.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>