<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{fragments/layout}">
<head>
<title>Home</title>
</head>
<body layout:fragment="content">
<div class="container">
	<div class="row"><h2>Trade List</h2></div>
	<div class="row">
		<a sec:authorize="hasRole('ADMIN')" href="/trade/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr class="d-flex">
					<th class="col-1">Id</th>
					<th class="col-3">Account</th>
					<th class="col-3">Type</th>
					<th class="col-3">Buy Quantity</th>
					<th class="col-2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="trade : ${tradeList}" class="d-flex">
					<td th:text="${trade.id}" class="col-1"></td>
					<td th:text="${trade.account}" class="col-3"></td>
					<td th:text="${trade.type}" class="col-3"></td>
					<td th:text="${trade.buyQuantity}" class="col-3"></td>
					<td class="text-center col-2">
						<a sec:authorize="hasRole('ADMIN')" th:href="@{/trade/update/{id}(id=${trade.id})}">Edit</a>&nbsp;|&nbsp;
						<a sec:authorize="hasRole('ADMIN')" th:href="@{/trade/delete/{id}(id=${trade.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>