<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{fragments/layout}">
<head>
<title>Home</title>
</head>
<body layout:fragment="content">
<div class="container">
	<div class="row"><h2>Bid List</h2></div>
	<div class="row">
		<a sec:authorize="hasRole('ADMIN')" href="/bidList/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr class="d-flex">
					<th class="col-1">Id</th>
					<th class="col-3">Account</th>
					<th class="col-3">Type</th>
					<th class="col-3">Bid Quantity</th>
					<th class="col-2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bid : ${bidList}" class="d-flex">
					<td th:text="${bid.id}" class="col-1"></td>
					<td th:text="${bid.account}" class="col-3"></td>
					<td th:text="${bid.type}" class="col-3"></td>
					<td th:text="${bid.bidQuantity}" class="col-3"></td>
					<td class="text-center col-2">
						<a sec:authorize="hasRole('ADMIN')" th:href="@{/bidList/update/{id}(id=${bid.id})}">Edit</a>&nbsp;|&nbsp;
						<a sec:authorize="hasRole('ADMIN')" th:href="@{/bidList/delete/{id}(id=${bid.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>